<div class="authenticationloginscout-89-956" name="Authentication@Login Scout">
 <div class="group-89-957" name="Group">
  <div class="group-89-958" name="Group">
   <img class="vector-89-959" src="assets/images/Authentication/login-scout/vector-89_959.svg"/>
  </div>
  <div class="group-89-14896" name="Group">
   <img class="img-89-14897" src="assets/images/Authentication/login-scout/img-89_14897.png"/>
   <div class="group-89-14898" name="Group">
    <div class="group-89-14899" name="Group">
    </div>
    <div class="group-89-14900" name="Group">
     <label class="text-89-14901" type="text" value="Login">
      Login
     </label>
     <img class="vector-89-14902" src="assets/images/Authentication/login-scout/vector-89_14902.svg"/>
    </div>
    <div class="group-89-14906" name="Group">
     <label class="text-89-14907" type="text" value="Remember me">
      Remember me
     </label>
     <img class="vector-89-14908" src="assets/images/Authentication/login-scout/vector-89_14908.svg"/>
     <label class="text-89-14912" type="text" value="Forgot Password?">
      Forgot Password?
     </label>
     <button class="btn-89-14913" type="button">
      <img class="vector-89-14916" src="assets/images/Authentication/login-scout/vector-89_14916.svg"/>
      Sign in with microsoft
     </button>
     <button class="btn-89-14917" type="button">
      Sign in
     </button>
     <input class="text-89-14920" placeholder="Password" type="text"/>
     <input class="text-89-14925" placeholder="Username" type="text"/>
    </div>
   </div>
  </div>
  <label class="text-89-14930" type="text" value="Don't have an account? Register">
   Don't have an account? Register
  </label>
 </div>
 <img class="vector-89-14931" src="assets/images/Authentication/login-scout/vector-89_14931.svg"/>
</div>
