<div class="modulesscoutusersedit-89-14947" name="Modules@Scout UsersEdit">
 <div class="group-89-14948" name="Group">
  <img class="vector-89-14949" src="assets/images/Modules/scout-usersedit/vector-89_14949.svg"/>
  <div class="group-89-14950" name="Group">
   <div class="group-89-14951" name="Group">
    <div class="group-89-14952" name="Group">
    </div>
    <label class="text-89-14953" type="text" value="Insight">
     Insight
    </label>
   </div>
   <div class="group-89-14954" name="Group">
    <div class="group-89-14955" name="Group">
    </div>
    <label class="text-89-14956" type="text" value="Admin">
     Admin
    </label>
   </div>
  </div>
  <img class="vector-89-14957" src="assets/images/Modules/scout-usersedit/vector-89_14957.svg"/>
  <div class="group-89-14975" name="Group">
   <img class="vector-89-14976" src="assets/images/Modules/scout-usersedit/vector-89_14976.svg"/>
  </div>
  <div class="group-89-14977" name="Group">
   <img class="img-89-14978" src="assets/images/Modules/scout-usersedit/img-89_14978.png"/>
  </div>
  <div class="group-89-14980" name="Group">
   <img class="vector-89-14981" src="assets/images/Modules/scout-usersedit/vector-89_14981.svg"/>
   <img class="vector-89-14991" src="assets/images/Modules/scout-usersedit/vector-89_14991.svg"/>
   <label class="text-89-14993" type="text" value="Property report">
    Property report
   </label>
  </div>
 </div>
 <div class="group-89-14994" name="Group">
  <div class="group-89-14995" name="Group">
  </div>
  <div class="group-89-14996" name="Group">
   <div class="group-89-14997" name="Group">
    <div class="group-89-14998" name="Group">
    </div>
    <img class="vector-89-14999" src="assets/images/Modules/scout-usersedit/vector-89_14999.svg"/>
   </div>
   <div class="group-89-15003" name="Group">
    <div class="group-89-15004" name="Group">
    </div>
    <img class="vector-89-15005" src="assets/images/Modules/scout-usersedit/vector-89_15005.svg"/>
   </div>
   <div class="group-89-15014" name="Group">
    <div class="group-89-15015" name="Group">
    </div>
    <img class="vector-89-15016" src="assets/images/Modules/scout-usersedit/vector-89_15016.svg"/>
   </div>
   <div class="group-89-15018" name="Group">
    <div class="group-89-15019" name="Group">
    </div>
    <img class="vector-89-15020" src="assets/images/Modules/scout-usersedit/vector-89_15020.svg"/>
   </div>
   <div class="group-89-15022" name="Group">
    <div class="group-89-15023" name="Group">
    </div>
    <img class="vector-89-15024" src="assets/images/Modules/scout-usersedit/vector-89_15024.svg"/>
   </div>
   <div class="group-89-15043" name="Group">
    <div class="group-89-15044" name="Group">
    </div>
    <img class="vector-89-15045" src="assets/images/Modules/scout-usersedit/vector-89_15045.svg"/>
   </div>
   <div class="group-89-15052" name="Group">
    <div class="group-89-15053" name="Group">
    </div>
    <img class="vector-89-15054" src="assets/images/Modules/scout-usersedit/vector-89_15054.svg"/>
   </div>
   <div class="group-89-15059" name="Group">
    <div class="group-89-15060" name="Group">
    </div>
    <img class="vector-89-15061" src="assets/images/Modules/scout-usersedit/vector-89_15061.svg"/>
   </div>
   <div class="group-89-15063" name="Group">
    <div class="group-89-15064" name="Group">
    </div>
    <img class="vector-89-15065" src="assets/images/Modules/scout-usersedit/vector-89_15065.svg"/>
   </div>
   <div class="group-89-15068" name="Group">
    <div class="group-89-15069" name="Group">
    </div>
    <img class="vector-89-15070" src="assets/images/Modules/scout-usersedit/vector-89_15070.svg"/>
   </div>
   <div class="group-89-15117" name="Group">
    <div class="group-89-15118" name="Group">
    </div>
    <img class="vector-89-15119" src="assets/images/Modules/scout-usersedit/vector-89_15119.svg"/>
   </div>
  </div>
 </div>
 <div class="group-89-15125" name="Group">
  <div class="group-89-15126" name="Group">
   <div class="group-89-15127" name="Group">
   </div>
   <div class="group-89-15128" name="Group">
    <div class="group-89-15129" name="Group">
    </div>
    <div class="group-89-15130" name="Group">
     <div class="group-89-15131" name="Group">
      <label class="text-89-15132" type="text" value="Status">
       Status
      </label>
      <input class="text-89-15133" placeholder="Search Users here...." type="text"/>
     </div>
     <div class="group-89-15136" name="Group">
      <label class="text-89-15137" type="text" value="Organization">
       Organization
      </label>
      <input class="text-89-15138" placeholder="Search Users here...." type="text"/>
     </div>
     <div class="group-89-15141" name="Group">
      <label class="text-89-15142" type="text" value="Role Type">
       Role Type
      </label>
      <input class="text-89-15143" placeholder="Search Users here...." type="text"/>
     </div>
    </div>
    <div class="group-89-15146" name="Group">
     <label class="text-89-15147" type="text" value="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
     </label>
     <div class="group-89-15148" name="Group">
      <label class="text-89-15149" type="text" value="Professional Information">
       Professional Information
      </label>
      <img class="vector-89-15150" src="assets/images/Modules/scout-usersedit/vector-89_15150.svg"/>
     </div>
    </div>
   </div>
   <div class="group-89-15156" name="Group">
    <div class="group-89-15157" name="Group">
     <div class="group-89-15158" name="Group">
     </div>
     <div class="group-89-15159" name="Group">
      <div class="group-89-15160" name="Group">
       <label class="text-89-15161" type="text" value="Email Id">
        Email Id
       </label>
       <input class="text-89-15162" placeholder="vaisal.as@lp.com" type="text"/>
      </div>
      <div class="group-89-15165" name="Group">
       <input class="text-89-15166" placeholder="+37 676 839 5209" type="text"/>
       <label class="text-89-15169" type="text" value="Phone ">
        Phone
       </label>
      </div>
     </div>
     <div class="group-89-15170" name="Group">
      <div class="group-89-15171" name="Group">
       <label class="text-89-15172" type="text" value="First Name">
        First Name
       </label>
       <input class="text-89-15173" placeholder="John" type="text"/>
      </div>
      <div class="group-89-15176" name="Group">
       <label class="text-89-15177" type="text" value="Last Name">
        Last Name
       </label>
       <input class="text-89-15178" placeholder="Smith" type="text"/>
      </div>
     </div>
     <div class="group-89-15181" name="Group">
      <label class="text-89-15182" type="text" value="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.">
       Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </label>
      <div class="group-89-15183" name="Group">
       <label class="text-89-15184" type="text" value="Personal Information">
        Personal Information
       </label>
       <img class="vector-89-15185" src="assets/images/Modules/scout-usersedit/vector-89_15185.svg"/>
      </div>
     </div>
    </div>
    <div class="group-89-15191" name="Group">
     <div class="group-89-15192" name="Group">
     </div>
     <div class="group-89-15193" name="Group">
      <img class="vector-89-15194" src="assets/images/Modules/scout-usersedit/vector-89_15194.svg"/>
      <label class="text-89-15196" type="text" value="Roles">
       Roles
      </label>
     </div>
    </div>
    <div class="group-89-15197" name="Group">
     <div class="group-89-15198" name="Group">
     </div>
     <div class="group-89-15199" name="Group">
      <img class="vector-89-15200" src="assets/images/Modules/scout-usersedit/vector-89_15200.svg"/>
      <label class="text-89-15202" type="text" value="User">
       User
      </label>
     </div>
    </div>
    <button class="btn-89-15203" type="button">
     <img class="vector-89-15206" src="assets/images/Modules/scout-usersedit/vector-89_15206.svg"/>
     Save
    </button>
   </div>
  </div>
 </div>
</div>
