<div class="modulesreportpage-89-15208" name="Modules@Report page">
 <div class="group-89-15209" name="Group">
  <img class="vector-89-15210" src="assets/images/Modules/report-page/vector-89_15210.svg"/>
  <div class="group-89-15211" name="Group">
   <div class="group-89-15212" name="Group">
    <div class="group-89-15213" name="Group">
    </div>
    <label class="text-89-15214" type="text" value="Insight">
     Insight
    </label>
   </div>
   <div class="group-89-15215" name="Group">
    <div class="group-89-15216" name="Group">
    </div>
    <label class="text-89-15217" type="text" value="Admin">
     Admin
    </label>
   </div>
  </div>
  <img class="vector-89-15218" src="assets/images/Modules/report-page/vector-89_15218.svg"/>
  <div class="group-89-15236" name="Group">
   <img class="vector-89-15237" src="assets/images/Modules/report-page/vector-89_15237.svg"/>
  </div>
  <div class="group-89-15238" name="Group">
   <img class="img-89-15239" src="assets/images/Modules/report-page/img-89_15239.png"/>
  </div>
  <div class="group-89-15241" name="Group">
   <img class="vector-89-15242" src="assets/images/Modules/report-page/vector-89_15242.svg"/>
   <img class="vector-89-15252" src="assets/images/Modules/report-page/vector-89_15252.svg"/>
   <label class="text-89-15254" type="text" value="Property report">
    Property report
   </label>
  </div>
 </div>
 <div class="group-89-15255" name="Group">
  <input class="text-89-15256" placeholder="Search Users here...." type="text"/>
  <img class="vector-89-15259" src="assets/images/Modules/report-page/vector-89_15259.svg"/>
  <img class="vector-89-15263" src="assets/images/Modules/report-page/vector-89_15263.svg"/>
 </div>
 <div class="group-89-15269" name="Group">
  <div class="group-89-15270" name="Group">
  </div>
  <img class="vector-89-15271" src="assets/images/Modules/report-page/vector-89_15271.svg"/>
  <button class="btn-89-15273" type="button">
   <img class="vector-89-15276" src="assets/images/Modules/report-page/vector-89_15276.svg"/>
   BlackJack Data Research Tool
  </button>
  <div class="group-89-15278" name="Group">
   <img class="vector-89-15279" src="assets/images/Modules/report-page/vector-89_15279.svg"/>
   <img class="vector-89-15282" src="assets/images/Modules/report-page/vector-89_15282.svg"/>
   <img class="vector-89-15285" src="assets/images/Modules/report-page/vector-89_15285.svg"/>
   <img class="vector-89-15289" src="assets/images/Modules/report-page/vector-89_15289.svg"/>
   <img class="vector-89-15292" src="assets/images/Modules/report-page/vector-89_15292.svg"/>
  </div>
 </div>
 <div class="group-89-15295" name="Group">
  <div class="group-89-15296" name="Group">
  </div>
  <div class="group-89-15297" name="Group">
   <div class="group-89-15298" name="Group">
   </div>
   <div class="group-89-15299" name="Group">
    <label class="text-89-15300" type="text" value="Salesforce">
     Salesforce
    </label>
   </div>
  </div>
  <div class="group-89-15301" name="Group">
   <div class="group-89-15302" name="Group">
   </div>
   <div class="group-89-15303" name="Group">
    <label class="text-89-15304" type="text" value="ASC">
     ASC
    </label>
   </div>
  </div>
  <div class="group-89-15305" name="Group">
   <div class="group-89-15306" name="Group">
   </div>
   <div class="group-89-15307" name="Group">
    <label class="text-89-15308" type="text" value="Imaging">
     Imaging
    </label>
   </div>
  </div>
  <div class="group-89-15309" name="Group">
   <div class="group-89-15310" name="Group">
   </div>
   <div class="group-89-15311" name="Group">
    <label class="text-89-15312" type="text" value="Barrow, AK 99723">
     Barrow, AK 99723
    </label>
   </div>
  </div>
  <label class="text-89-15313" type="text" value="1296 Agvik Street">
   1296 Agvik Street
  </label>
  <img class="vector-89-15314" src="assets/images/Modules/report-page/vector-89_15314.svg"/>
  <div class="group-89-15315" name="Group">
   <div class="group-89-15316" name="Group">
   </div>
   <label class="text-89-15317" type="text" value="(Scout ranks more than 900 markets on a scale of 1-10)">
    (Scout ranks more than 900 markets on a scale of 1-10)
   </label>
  </div>
  <div class="group-89-15318" name="Group">
   <div class="group-89-15319" name="Group">
   </div>
   <img class="vector-89-15320" src="assets/images/Modules/report-page/vector-89_15320.svg"/>
   <label class="text-89-15322" type="text" value="Property Report">
    Property Report
   </label>
   <div class="group-89-15323" name="Group">
    <label class="text-89-15324" type="text" value="9.7">
     9.7
    </label>
    <img class="vector-89-15325" src="assets/images/Modules/report-page/vector-89_15325.svg"/>
    <label class="text-89-15330" type="text" value="Lorem Ipsum ">
     Lorem Ipsum
    </label>
    <label class="text-89-15331" type="text" value="Property Score">
     Property Score
    </label>
   </div>
   <div class="group-89-15332" name="Group">
    <img class="vector-89-15333" src="assets/images/Modules/report-page/vector-89_15333.svg"/>
    <label class="text-89-15338" type="text" value="6.7">
     6.7
    </label>
    <label class="text-89-15339" type="text" value="Lorem Ipsum ">
     Lorem Ipsum
    </label>
    <label class="text-89-15340" type="text" value="Market">
     Market
    </label>
   </div>
   <div class="group-89-15341" name="Group">
    <img class="vector-89-15342" src="assets/images/Modules/report-page/vector-89_15342.svg"/>
    <label class="text-89-15347" type="text" value="3.0">
     3.0
    </label>
    <label class="text-89-15348" type="text" value="Lorem Ipsum ">
     Lorem Ipsum
    </label>
    <label class="text-89-15349" type="text" value="Practice">
     Practice
    </label>
   </div>
   <div class="group-89-15350" name="Group">
    <label class="text-89-15351" type="text" value="8.2">
     8.2
    </label>
    <img class="vector-89-15352" src="assets/images/Modules/report-page/vector-89_15352.svg"/>
    <label class="text-89-15357" type="text" value="Polar Score">
     Polar Score
    </label>
    <label class="text-89-15358" type="text" value="Lorem Ipsum ">
     Lorem Ipsum
    </label>
   </div>
   <label class="text-89-15359" type="text" value="Scout Analysis">
    Scout Analysis
   </label>
  </div>
  <div class="group-89-15360" name="Group">
   <img class="img-89-15361" src="assets/images/Modules/report-page/img-89_15361.png"/>
  </div>
  <img class="vector-89-15362" src="assets/images/Modules/report-page/vector-89_15362.svg"/>
  <img class="vector-89-15364" src="assets/images/Modules/report-page/vector-89_15364.svg"/>
  <img class="vector-89-15366" src="assets/images/Modules/report-page/vector-89_15366.svg"/>
 </div>
 <img class="img-89-15368" src="assets/images/Modules/report-page/img-89_15368.png"/>
 <div class="group-89-15369" name="Group">
  <div class="group-89-15370" name="Group">
  </div>
  <div class="group-89-15371" name="Group">
  </div>
 </div>
 <div class="group-89-15372" name="Group">
  <div class="group-89-15373" name="Group">
  </div>
  <label class="text-89-15374" type="text" value="Properties details">
   Properties details
  </label>
  <img class="vector-89-15375" src="assets/images/Modules/report-page/vector-89_15375.svg"/>
  <div class="group-89-15376" name="Group">
   <label class="text-89-15377" type="text" value="1997">
    1997
   </label>
   <label class="text-89-15378" type="text" value="Year Built">
    Year Built
   </label>
   <img class="vector-89-15379" src="assets/images/Modules/report-page/vector-89_15379.svg"/>
   <img class="vector-89-15394" src="assets/images/Modules/report-page/vector-89_15394.svg"/>
  </div>
  <div class="group-89-15400" name="Group">
   <label class="text-89-15401" type="text" value="77,575">
    77,575
   </label>
   <label class="text-89-15402" type="text" value="Sales Price ($)">
    Sales Price ($)
   </label>
   <img class="vector-89-15403" src="assets/images/Modules/report-page/vector-89_15403.svg"/>
   <img class="vector-89-15405" src="assets/images/Modules/report-page/vector-89_15405.svg"/>
  </div>
  <div class="group-89-15411" name="Group">
   <label class="text-89-15412" type="text" value="Cap Rate (%)">
    Cap Rate (%)
   </label>
   <label class="text-89-15413" type="text" value="56">
    56
   </label>
   <img class="vector-89-15414" src="assets/images/Modules/report-page/vector-89_15414.svg"/>
   <img class="vector-89-15416" src="assets/images/Modules/report-page/vector-89_15416.svg"/>
  </div>
  <img class="vector-89-15422" src="assets/images/Modules/report-page/vector-89_15422.svg"/>
 </div>
 <div class="group-89-15425" name="Group">
  <div class="group-89-15426" name="Group">
   <div class="group-89-15427" name="Group">
   </div>
   <div class="group-89-15428" name="Group">
    <label class="text-89-15429" type="text" value="Account ownership details">
     Account ownership details
    </label>
    <img class="vector-89-15430" src="assets/images/Modules/report-page/vector-89_15430.svg"/>
    <table class="table-89-15431">
     <tr>
      <th class="th-89-15433">
       <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/3110c941-0125-4e42-95a9-9ea93dd9024d"/>
      </th>
      <th class="th-89-15433">
       <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/15bd4e45-92fa-441e-a15f-91948a54d243"/>
      </th>
      <th class="th-89-15433">
       <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/2476068b-f236-42c0-b013-e28fe804318f"/>
      </th>
      <th class="th-89-15433">
       <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/b175f5fc-e46a-4ad8-b8dd-5bebb0d914a0"/>
      </th>
      <th class="th-89-15433">
       <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/e74236e6-d2a1-456b-9424-c5942b671ae3"/>
      </th>
      <th class="th-89-15433">
       <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/aa8063fa-5585-4ba9-ab44-e3b745008321"/>
      </th>
     </tr>
     <tr>
      <td class="td-89-15458">
       <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/a9bdfaea-aadf-46b9-915c-988fdb072db6"/>
      </td>
      <td class="td-89-15458">
       <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/dbbc1a4b-71b5-41fe-b5af-402ea44a1c92"/>
      </td>
      <td class="td-89-15458">
       <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/d2f3aed0-6ce5-4207-80c7-7d7e1b6d6b1b"/>
      </td>
      <td class="td-89-15458">
       <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/6cf23d8a-496c-476a-bde6-605293af7b72"/>
      </td>
      <td class="td-89-15458">
       <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/135c244c-c501-4253-8db8-a3bd2d2d6eaa"/>
      </td>
      <td class="td-89-15458">
       <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/846b9c02-9cbe-4983-b7b4-a720cf5a2102"/>
      </td>
     </tr>
    </table>
   </div>
  </div>
 </div>
 <div class="group-89-15484" name="Group">
  <div class="group-89-15485" name="Group">
   <div class="group-89-15486" name="Group">
   </div>
   <img class="vector-89-15487" src="assets/images/Modules/report-page/vector-89_15487.svg"/>
   <label class="text-89-15488" type="text" value="Practices Name (s) ">
    Practices Name (s)
   </label>
   <table class="table-89-15489">
    <tr>
     <th class="th-89-15491">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/a68e4e1a-1a93-4567-9467-b29f5f6a5d11"/>
     </th>
     <th class="th-89-15491">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/fae5ea37-ba66-4f1b-9c10-81f324a38f0e"/>
     </th>
    </tr>
    <tr>
     <td class="td-89-15500">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/5e69363e-8872-4b6e-b5dd-4f3ee25c06fc"/>
     </td>
     <td class="td-89-15500">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/882edcf7-2784-4668-8f89-1a734ae2c602"/>
     </td>
    </tr>
    <tr>
     <td class="td-89-15500">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/631cbfac-7adf-45bd-bedf-028ff8b8fdc9"/>
     </td>
     <td class="td-89-15500">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/72e86db7-c335-411c-a382-529a41bd2bf2"/>
     </td>
    </tr>
   </table>
   <label class="text-89-15517" type="text" value="Tenant details">
    Tenant details
   </label>
   <table class="table-89-15518">
    <tr>
     <th class="th-89-15520">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/2482c5fa-1686-4a35-8480-eedc333f93b7"/>
     </th>
     <th class="th-89-15520">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/98363736-2cea-4611-9c8f-5fed51970fc0"/>
     </th>
    </tr>
    <tr>
     <td class="td-89-15529">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/3851e5d2-d82b-4650-acda-d59e06d4d022"/>
     </td>
     <td class="td-89-15529">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/1b9a42dc-6013-49d0-9508-76bc8e3121f8"/>
     </td>
    </tr>
    <tr>
     <td class="td-89-15529">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/072eee87-c248-4c6e-96bb-0be9ba1d9403"/>
     </td>
     <td class="td-89-15529">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/48245d9d-8f01-4c52-8848-3fcdfec9435e"/>
     </td>
    </tr>
    <tr>
     <td class="td-89-15529">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/12fc9078-7878-41fe-b605-1d53eef5a9c7"/>
     </td>
     <td class="td-89-15529">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/dc70bfe8-9a47-4b88-8dfd-04b7b88bbcf7"/>
     </td>
    </tr>
   </table>
   <label class="text-89-15555" type="text" value="Physicians (Speciality) ">
    Physicians (Speciality)
   </label>
   <table class="table-89-15556">
    <tr>
     <th class="th-89-15558">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/f3a2c5a8-cf56-4313-80a7-794406c0461f"/>
     </th>
     <th class="th-89-15558">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/a8e53386-425a-4624-af10-9500383b99aa"/>
     </th>
     <th class="th-89-15558">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/ebb7a82e-07f0-44fc-9ff4-beb794984f6f"/>
     </th>
    </tr>
    <tr>
     <td class="td-89-15571">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/9cad17a8-54ed-4cea-8dba-c711cdc4ae2d"/>
     </td>
     <td class="td-89-15571">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/7c659063-6e2f-4470-85cb-7d6753324af7"/>
     </td>
     <td class="td-89-15571">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/9e441cd9-53b5-4b79-97a6-b10bcc322d13"/>
     </td>
    </tr>
    <tr>
     <td class="td-89-15571">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/e15ab7b1-fbf0-4f77-8613-76ff7d33e31d"/>
     </td>
     <td class="td-89-15571">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/17fb229a-0f8b-4651-a967-eece549a84bb"/>
     </td>
     <td class="td-89-15571">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/bb255c2f-8082-40b8-a86a-be9f74da620d"/>
     </td>
    </tr>
    <tr>
     <td class="td-89-15571">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/8d846d42-dd45-41d6-8403-26d9e0541d33"/>
     </td>
     <td class="td-89-15571">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/15d4d5fa-8ec7-495b-a998-0cafde033c47"/>
     </td>
     <td class="td-89-15571">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/c46214fc-411e-470b-98e0-d5cead3d43b7"/>
     </td>
    </tr>
   </table>
   <img class="vector-89-15609" src="assets/images/Modules/report-page/vector-89_15609.svg"/>
  </div>
 </div>
 <img class="vector-89-15612" src="assets/images/Modules/report-page/vector-89_15612.svg"/>
 <div class="group-89-15613" name="Group">
  <div class="group-89-15614" name="Group">
  </div>
  <div class="group-89-15615" name="Group">
   <img class="vector-89-15616" src="assets/images/Modules/report-page/vector-89_15616.svg"/>
   <img class="vector-89-15617" src="assets/images/Modules/report-page/vector-89_15617.svg"/>
   <img class="img-89-15618" src="assets/images/Modules/report-page/img-89_15618.png"/>
   <img class="vector-89-15619" src="assets/images/Modules/report-page/vector-89_15619.svg"/>
   <img class="vector-89-15620" src="assets/images/Modules/report-page/vector-89_15620.svg"/>
   <img class="vector-89-15621" src="assets/images/Modules/report-page/vector-89_15621.svg"/>
   <img class="vector-89-15622" src="assets/images/Modules/report-page/vector-89_15622.svg"/>
   <img class="vector-89-15623" src="assets/images/Modules/report-page/vector-89_15623.svg"/>
   <img class="vector-89-15624" src="assets/images/Modules/report-page/vector-89_15624.svg"/>
   <label class="text-89-15625" type="text" value="Dr. Kathryn 
Murphy">
    Dr. Kathryn 
Murphy
   </label>
   <label class="text-89-15626" type="text" value="Dr. Ryn 
Murphy">
    Dr. Ryn 
Murphy
   </label>
   <label class="text-89-15627" type="text" value="Dr. Kathryn 
Murphy">
    Dr. Kathryn 
Murphy
   </label>
   <label class="text-89-15628" type="text" value="Dr. Kathryn 
James">
    Dr. Kathryn 
James
   </label>
   <label class="text-89-15629" type="text" value="Dr. James 
Murphy">
    Dr. James 
Murphy
   </label>
   <label class="text-89-15630" type="text" value="Dr. Kathryn 
Murphy">
    Dr. Kathryn 
Murphy
   </label>
   <label class="text-89-15631" type="text" value="KM">
    KM
   </label>
   <label class="text-89-15632" type="text" value="RM">
    RM
   </label>
   <label class="text-89-15633" type="text" value="KM">
    KM
   </label>
   <label class="text-89-15634" type="text" value="KJ">
    KJ
   </label>
   <label class="text-89-15635" type="text" value="JM">
    JM
   </label>
   <label class="text-89-15636" type="text" value="KM">
    KM
   </label>
   <label class="text-89-15637" type="text" value="Medical Hospital">
    Medical Hospital
   </label>
  </div>
  <label class="text-89-15638" type="text" value="Relationship Connections">
   Relationship Connections
  </label>
 </div>
</div>
