<div class="authenticationloginpolaris-89-296" name="Authentication@Login polaris">
 <div class="group-89-297" name="Group">
  <img class="vector-89-298" src="assets/images/Authentication/login-polaris/vector-89_298.svg"/>
 </div>
 <img class="vector-89-312" src="assets/images/Authentication/login-polaris/vector-89_312.svg"/>
 <label class="text-89-337" type="text" value="The first AI-driven healthcare
staffing + scheduling platform">
  The first AI-driven healthcare
staffing + scheduling platform
 </label>
 <label class="text-89-338" type="text" value="All-in-one platform for the efficient prediction and management of physician and nurse scheduling">
  All-in-one platform for the efficient prediction and management of physician and nurse scheduling
 </label>
 <div class="group-89-339" name="Group">
  <img class="img-89-340" src="assets/images/Authentication/login-polaris/img-89_340.png"/>
 </div>
 <div class="group-89-579" name="Group">
  <div class="group-89-580" name="Group">
  </div>
  <label class="text-89-581" type="text" value="Welcome Back!">
   Welcome Back!
  </label>
  <div class="group-89-582" name="Group">
   <div class="group-89-583" name="Group">
    <div class="group-89-584" name="Group">
     <input class="text-89-585" placeholder="john.doe" type="text"/>
     <div class="group-89-588" name="Group">
      <div class="group-89-589" name="Group">
      </div>
      <label class="text-89-590" type="text" value="User Name">
       User Name
      </label>
     </div>
     <input class="text-89-591" placeholder="Password" type="text"/>
     <div class="group-89-594" name="Group">
      <label class="text-89-595" type="text" value="Show
Password">
       Show
Password
      </label>
     </div>
     <img class="vector-89-596" src="assets/images/Authentication/login-polaris/vector-89_596.svg"/>
    </div>
   </div>
  </div>
  <label class="text-89-597" type="text" value="Forgot username?  |  Forgot password?">
   Forgot username?  |  Forgot password?
  </label>
  <button class="btn-89-598" type="button">
   SIGN IN
  </button>
 </div>
</div>
