<div class="authenticationlaclogin-89-72" name="Authentication@LAC Login">
 <img class="vector-89-73" src="assets/images/Authentication/lac-login/vector-89_73.svg"/>
 <div class="group-89-96" name="Group">
  <div class="group-89-97" name="Group">
  </div>
  <div class="group-89-98" name="Group">
   <input class="text-89-99" placeholder="Email" type="text"/>
   <input class="text-89-103" placeholder="Password" type="text"/>
   <button class="btn-89-107" type="button">
    SIGN IN
   </button>
   <label class="text-89-110" type="text" value="Forgot Email or Password?">
    Forgot Email or Password?
   </label>
   <label class="text-89-111" type="text" value="Remember me">
    Remember me
   </label>
   <label class="text-89-112" type="text" value="Sign in">
    Sign in
   </label>
   <label class="text-89-113" type="text" value="Stay updated on your AI application">
    Stay updated on your AI application
   </label>
  </div>
  <input class="checkbox-89-114" type="checkbox"/>
 </div>
 <img class="vector-89-117" src="assets/images/Authentication/lac-login/vector-89_117.svg"/>
 <img class="img-89-134" src="assets/images/Authentication/lac-login/img-89_134.png"/>
 <label class="text-89-135" type="text" value="About Us">
  About Us
 </label>
 <label class="text-89-136" type="text" value="Powerted By">
  Powerted By
 </label>
 <img class="vector-89-137" src="assets/images/Authentication/lac-login/vector-89_137.svg"/>
 <label class="text-89-142" type="text" value="Contact">
  Contact
 </label>
 <label class="text-89-143" type="text" value="login">
  login
 </label>
 <label class="text-89-144" type="text" value="ALIGNED aI APPLICATIONS">
  ALIGNED aI APPLICATIONS
 </label>
 <label class="text-89-145" type="text" value="©2022 LogicPlum,Inc. All rights reserved.">
  ©2022 LogicPlum,Inc. All rights reserved.
 </label>
</div>
