<div class="modulessavedschedule-89-601" name="Modules@Saved Schedule">
 <div class="group-89-602" name="Group">
  <div class="group-89-603" name="Group">
  </div>
  <div class="group-89-604" name="Group">
   <div class="group-89-605" name="Group">
   </div>
   <div class="group-89-606" name="Group">
    <div class="group-89-607" name="Group">
    </div>
    <div class="group-89-608" name="Group">
     <div class="group-89-609" name="Group">
      <label class="text-89-610" type="text" value="transition scale">
       transition scale
      </label>
      <label class="text-89-611" type="text" value="3">
       3
      </label>
     </div>
     <div class="group-89-612" name="Group">
      <label class="text-89-613" type="text" value="Min shift duration">
       Min shift duration
      </label>
      <div class="group-89-614" name="Group">
       <label class="text-89-615" type="text" value="5">
        5
       </label>
       <label class="text-89-616" type="text" value="hrs">
        hrs
       </label>
      </div>
      <img class="vector-89-617" src="assets/images/Modules/saved-schedule/vector-89_617.svg"/>
     </div>
     <div class="group-89-618" name="Group">
      <label class="text-89-619" type="text" value="Max shift duration">
       Max shift duration
      </label>
      <div class="group-89-620" name="Group">
       <label class="text-89-621" type="text" value="10">
        10
       </label>
       <label class="text-89-622" type="text" value="hrs">
        hrs
       </label>
      </div>
      <img class="vector-89-623" src="assets/images/Modules/saved-schedule/vector-89_623.svg"/>
     </div>
     <div class="group-89-624" name="Group">
      <label class="text-89-625" type="text" value="Latest start time">
       Latest start time
      </label>
      <div class="group-89-626" name="Group">
       <label class="text-89-627" type="text" value="2">
        2
       </label>
       <label class="text-89-628" type="text" value="PM">
        PM
       </label>
      </div>
      <img class="vector-89-629" src="assets/images/Modules/saved-schedule/vector-89_629.svg"/>
     </div>
     <div class="group-89-630" name="Group">
      <label class="text-89-631" type="text" value="ratio scale">
       ratio scale
      </label>
      <label class="text-89-632" type="text" value="1">
       1
      </label>
      <img class="vector-89-633" src="assets/images/Modules/saved-schedule/vector-89_633.svg"/>
     </div>
    </div>
   </div>
  </div>
  <div class="group-89-634" name="Group">
  </div>
  <div class="group-89-635" name="Group">
   <img class="vector-89-636" src="assets/images/Modules/saved-schedule/vector-89_636.svg"/>
   <label class="text-89-641" type="text" value="Lion’s Gate Hospital: 921409198-87907">
    Lion’s Gate Hospital: 921409198-87907
   </label>
  </div>
  <div class="group-89-642" name="Group">
   <img class="vector-89-643" src="assets/images/Modules/saved-schedule/vector-89_643.svg"/>
  </div>
  <div class="group-89-644" name="Group">
   <table class="table-89-645">
    <tr>
     <th class="th-89-647">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/f61cd116-2691-4e43-8754-dbcd80ec7baa"/>
     </th>
     <th class="th-89-647">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/39c90167-52e8-4e76-8b47-0af1227b9282"/>
     </th>
     <th class="th-89-647">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/b32523eb-c8c3-4bf1-ba5e-bf08c13305a3"/>
     </th>
     <th class="th-89-647">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/2ac50711-83de-4ca7-ad7a-dda7f525f5c2"/>
     </th>
     <th class="th-89-647">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/7c5ced38-1fb5-4b73-a5b7-167c2cd491f7"/>
     </th>
     <th class="th-89-647">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/7ac75018-bd80-451a-8610-832baa5d761c"/>
     </th>
     <th class="th-89-647">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/fb634b5c-cd3b-4d7b-af02-eef0594ae585"/>
     </th>
     <th class="th-89-647">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/696fdb09-a27b-4d79-8a85-6431b6b5ee92"/>
     </th>
     <th class="th-89-647">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/b7e19420-a2fc-4e6e-a0be-6e4b1bd0cf0c"/>
     </th>
     <th class="th-89-647">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/611e896e-fc8a-4711-8cb8-6b3475b63013"/>
     </th>
     <th class="th-89-647">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/021f9018-8a56-4666-9a3f-e221c7546607"/>
     </th>
     <th class="th-89-647">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/226fa4a4-1bd6-4886-b9ab-eda07e51f130"/>
     </th>
    </tr>
    <tr>
     <td class="td-89-696">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/d5628af0-5a8f-4184-bdc6-d51bb20f9158"/>
     </td>
     <td class="td-89-696">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/0888aef9-5678-43ab-8dab-abd924dc7864"/>
     </td>
     <td class="td-89-696">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/47ba4d3f-d899-4291-9c55-ea2bf7f8b5be"/>
     </td>
     <td class="td-89-696">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/a24b5953-0a2d-47aa-b578-edff5a4b7e28"/>
     </td>
     <td class="td-89-696">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/16b7762a-7186-4f72-838e-0549062b2bf2"/>
     </td>
     <td class="td-89-696">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/e42dde8c-72b0-4e1d-9ec8-89e535c6ab2e"/>
     </td>
     <td class="td-89-696">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/2e8f4dee-7a1c-40bf-b33e-c0e3723d24da"/>
     </td>
     <td class="td-89-696">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/bf016d66-67a8-443e-8c6a-d9b6a4482b36"/>
     </td>
     <td class="td-89-696">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/13fd4249-9827-454b-8976-acbd38818aab"/>
     </td>
     <td class="td-89-696">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/8ef9adda-7ec0-4117-94ee-0b8b83739a30"/>
     </td>
     <td class="td-89-696">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/2bd58555-da96-4dca-9c43-60a5903414eb"/>
     </td>
     <td class="td-89-696">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/08b4ca97-9eea-483a-a305-32cea6f08b07"/>
     </td>
    </tr>
    <tr>
     <td class="td-89-696">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/a04af2cc-5b56-4cad-b442-08b768f30675"/>
     </td>
     <td class="td-89-696">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/7f2589ed-33d0-4b4b-8672-2bbb70809e7f"/>
     </td>
     <td class="td-89-696">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/83bacf5d-9354-4a80-9e41-3e514f313ff6"/>
     </td>
     <td class="td-89-696">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/519e0925-2f6a-44f0-817d-9280c2c7de54"/>
     </td>
     <td class="td-89-696">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/0ac27485-d8ed-41be-9d00-1c807b6c0bc4"/>
     </td>
     <td class="td-89-696">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/cad42778-2a3e-48ff-955b-4705094e8f90"/>
     </td>
     <td class="td-89-696">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/b322e7cf-0481-4b95-bf86-c0e48c483057"/>
     </td>
     <td class="td-89-696">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/8be211f5-a757-4a49-94e7-6d2b0e19784a"/>
     </td>
     <td class="td-89-696">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/c2a37d0a-5597-463d-acad-d1d6e301be2a"/>
     </td>
     <td class="td-89-696">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/43334536-d8be-43d5-833c-bb9183cfaff0"/>
     </td>
     <td class="td-89-696">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/21b8cc62-a162-47eb-b2c2-1a0ae1c098d2"/>
     </td>
     <td class="td-89-696">
      <img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/42d827aa-64b5-4e66-8030-2cc12e77bc9e"/>
     </td>
    </tr>
   </table>
  </div>
 </div>
 <button class="btn-89-905" type="button">
  <img class="vector-89-908" src="assets/images/Modules/saved-schedule/vector-89_908.svg"/>
  download
 </button>
 <button class="btn-89-911" type="button">
  <img class="vector-89-914" src="assets/images/Modules/saved-schedule/vector-89_914.svg"/>
  print
 </button>
 <div class="group-89-917" name="Group">
  <label class="text-89-918" type="text" value="Saved Schedule">
   Saved Schedule
  </label>
  <label class="text-89-919" type="text" value="Review schedule details.
Click on schedule number to expand.">
   Review schedule details.
Click on schedule number to expand.
  </label>
  <img class="vector-89-920" src="assets/images/Modules/saved-schedule/vector-89_920.svg"/>
 </div>
 <div class="group-89-921" name="Group">
  <div class="group-89-922" name="Group">
  </div>
  <img class="vector-89-923" src="assets/images/Modules/saved-schedule/vector-89_923.svg"/>
  <button class="btn-89-948" type="button">
   create new schedule
  </button>
  <div class="group-89-951" name="Group">
   <img class="vector-89-952" src="assets/images/Modules/saved-schedule/vector-89_952.svg"/>
  </div>
  <img class="vector-89-955" src="assets/images/Modules/saved-schedule/vector-89_955.svg"/>
 </div>
</div>
