

.modulessavedschedule-89-601{
position:'' ;width: 100%; height: auto;  background-color: rgba(244,244,244,1.0);top:0px; left: 0;background:''}

.group-89-602{
position:absolute ;width: 1375.0px; height: 723.0px;  background-color: rgba(0,0,0,0.0);top:228px; left: calc( ( ( 100% - 1440px) / 2 ) + 42px);background:''}

.group-89-603{
position:absolute ;width: 1373.0px; height: 723.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;background:''}

.group-89-604{
position:absolute ;width: 1307.0px; height: 86.0px;  background-color: rgba(0,0,0,0.0);top:64px; left: 34px;background:''}

.group-89-605{
position:absolute ;width: 1307.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-89-606{
position:absolute ;width: 1173.0447998046875px; height: 86.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 75px;border-radius: 5.0px;background:''}

.group-89-607{
position:absolute ;width: 79.09024047851562px; height: 44.0px;  background-color: '';top:36px; left: 36px;border-radius: 5.0px;background:''}

.group-89-608{
position:absolute ;width: 1173.0447998046875px; height: 86.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-89-609{
position:absolute ;width: 122.04460144042969px; height: 69.8790283203125px;  background-color: rgba(0,0,0,0.0);top:17px; left: 0px;background:''}

.text-89-610{
position: absolute;
left: 0.9999237060546875px;
 top: -0.9290771484375px;
 width: 122.04460144042969px;
 height: 15.20355224609375px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.text-89-611{
position: absolute;
left: 50.99992370605469px;
 top: 19.949951171875px;
 width: 22.000015258789062px;
 height: 49.0px;
font-size: 40.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy; font-weight: 500;
}

.group-89-612{
position:absolute ;width: 217.666015625px; height: 86.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 182px;background:''}

.text-89-613{
position: absolute;
left: 82.99984741210938px;
 top: 16.04931640625px;
 width: 135.04458618164062px;
 height: 15.22528076171875px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-89-614{
position:absolute ;width: 43.004119873046875px; height: 49.0px;  background-color: rgba(0,0,0,0.0);top:37px; left: 128px;background:''}

.text-89-615{
position: absolute;
left: 0.999847412109375px;
 top: 0.0px;
 width: 22.000030517578125px;
 height: 49.0px;
font-size: 40.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy; font-weight: 500;
}

.text-89-616{
position: absolute;
left: 25.00396728515625px;
 top: 18.0px;
 width: 19.0px;
 height: 17.0px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy; font-weight: 300;
}

.vector-89-617{
position: absolute;left: 0.37841796875px; top: 0.0px; width: 1.0px; height: 84.0}

.group-89-618{
position:absolute ;width: 217.45562744140625px; height: 85.95004272460938px;  background-color: rgba(0,0,0,0.0);top:0px; left: 470px;background:''}

.text-89-619{
position: absolute;
left: 78.99981689453125px;
 top: 16.042724609375px;
 width: 139.0445556640625px;
 height: 15.23193359375px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-89-620{
position:absolute ;width: 59.96661376953125px; height: 49.0px;  background-color: rgba(0,0,0,0.0);top:37px; left: 117px;background:''}

.text-89-621{
position: absolute;
left: 0.99981689453125px;
 top: -0.049957275390625px;
 width: 40.0px;
 height: 49.0px;
font-size: 40.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy; font-weight: 500;
}

.text-89-622{
position: absolute;
left: 41.9664306640625px;
 top: 18.000091552734375px;
 width: 19.0px;
 height: 17.0px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy; font-weight: 300;
}

.vector-89-623{
position: absolute;left: 0.58880615234375px; top: 0.0px; width: 1.0px; height: 84.0}

.group-89-624{
position:absolute ;width: 204.62921142578125px; height: 85.94998168945312px;  background-color: rgba(0,0,0,0.0);top:0px; left: 749px;background:''}

.text-89-625{
position: absolute;
left: 82.0px;
 top: 16.0692138671875px;
 width: 123.044677734375px;
 height: 15.2049560546875px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-89-626{
position:absolute ;width: 44.0px; height: 49.0px;  background-color: rgba(0,0,0,0.0);top:37px; left: 122px;background:''}

.text-89-627{
position: absolute;
left: 0.0px;
 top: -0.050018310546875px;
 width: 22.0px;
 height: 49.0px;
font-size: 40.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy; font-weight: 500;
}

.text-89-628{
position: absolute;
left: 24.0px;
 top: 18.000091552734375px;
 width: 20.0px;
 height: 17.0px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy; font-weight: 300;
}

.vector-89-629{
position: absolute;left: 0.41546630859375px; top: 0.0px; width: 1.0px; height: 84.0}

.group-89-630{
position:absolute ;width: 147.1431884765625px; height: 85.949951171875px;  background-color: rgba(0,0,0,0.0);top:0px; left: 1026px;background:''}

.text-89-631{
position: absolute;
left: 64.0px;
 top: 16.1343994140625px;
 width: 84.044677734375px;
 height: 15.13995361328125px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.text-89-632{
position: absolute;
left: 99.0px;
 top: 36.949951171875px;
 width: 15.0px;
 height: 49.0px;
font-size: 40.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy; font-weight: 500;
}

.vector-89-633{
position: absolute;left: 0.9014892578125px; top: 0.0px; width: 1.0px; height: 84.0}

.group-89-634{
position:absolute ;width: 1373.0px; height: 44.0px;  background-color: rgba(34,52,132,1.0);top:0px; left: 0px;background:''}

.group-89-635{
position:absolute ;width: 380.0px; height: 24.0px;  background-color: rgba(0,0,0,0.0);top:10px; left: 10px;background:''}

.vector-89-636{
position: absolute;left: 0.0px; top: 0.0px; width: 24.0px; height: 24.0}

.text-89-641{
position: absolute;
left: 41.0px;
 top: 4.0px;
 width: 339.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-89-642{
position:absolute ;width: 20.0px; height: 20.0px;  background-color: rgba(0,0,0,0.0);top:12px; left: 1340px;background:''}

.vector-89-643{
position: absolute;left: 0.0px; top: 0.0px; width: 20.0px; height: 20.0}

.group-89-644{
position:absolute ;width: 1369.0px; height: 197.0px;  background-color: rgba(0,0,0,0.0);top:224px; left: 6px;background:''}

.table-89-645{
position: absolute;left: 0.0px; top: 0.0px; width: 1369.0px;}

.th-89-647{
position: realtive;text-align: left;width: 132.2736053466797px; height: 42.0px;}

.td-89-696{
position: realtive;text-align: left;width: 132.0809326171875px;}

.vector-89-908{
position: relative; width: 16.0px; height: 16.0}

.btn-89-905{
position: absolute;
left: 1084.0px;
 top: 106.0px;
 width: 123.0px;
 height: 35.0px;
border-radius: 2.0px; background-color: rgba(255, 255, 255, 1.0);
 cursor: pointer;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}

.vector-89-914{
position: relative; width: 15.0px; height: 15.0}

.btn-89-911{
position: absolute;
left: 1253.0px;
 top: 103.0px;
 width: 85.0px;
 height: 36.0px;
border-radius: 2.0px; background-color: rgba(255, 255, 255, 1.0);
 cursor: pointer;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy; text-transform: uppercase; font-weight: 700;
}

.group-89-917{
position:absolute ;width: 582.0px; height: 46.0px;  background-color: rgba(0,0,0,0.0);top:111px; left: calc( ( ( 100% - 1440px) / 2 ) + 47px);background:''}

.text-89-918{
position: absolute;
left: 0.0px;
 top: 9.0px;
 width: 223.0px;
 height: 29.0px;
font-size: 24.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy; font-weight: 600;
}

.text-89-919{
position: absolute;
left: 297.0px;
 top: 6.0px;
 width: 285.0px;
 height: 34.0px;
font-size: 14.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy; font-weight: 400;
}

.vector-89-920{
position: absolute;left: 261.0px; top: 0.0px; width: 1.0px; height: 46.0}

.group-89-921{
position:absolute ;width: 1440.0px; height: 73.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-89-922{
position:absolute ;width: 1440.0px; height: 73.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;background:''}

.vector-89-923{
position: absolute;left: 22.0px; top: 24.0px; width: 155.53781127929688px; height: 33.975830078125}

.btn-89-948{
position: absolute;
left: 229.0px;
 top: 18.0px;
 width: 200.0px;
 height: 35.0px;
border-radius: 2.0px; background-color: rgba(34, 52, 132, 1.0);
 cursor: pointer;
font-size: 14.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}

.group-89-951{
position:absolute ;width: 26.6666259765625px; height: 26.66668701171875px;  background-color: rgba(0,0,0,0.0);top:25px; left: 1375px;background:''}

.vector-89-952{
position: absolute;left: 0.6666259765625px; top: -0.3333740234375px; width: 26.6666259765625px; height: 26.66668701171875}

.vector-89-955{
position: absolute;left: 191.0px; top: 0.0px; width: 1.0px; height: 73.0}