<div class="authenticationloginwinnnow-89-146" name="Authentication@Login winnnow">
 <div class="group-89-147" name="Group">
  <img class="img-89-148" src="assets/images/Authentication/login-winnnow/img-89_148.png"/>
  <div class="group-89-149" name="Group">
  </div>
  <div class="group-89-150" name="Group">
   <div class="group-89-151" name="Group">
    <div class="group-89-152" name="Group">
    </div>
    <label class="text-89-153" type="text" value="We developed Winnow to empower recruiters. 
Our AI platform helps you efficiently navigate so that you can focus on what you do best: recruiting.

">
     We developed Winnow to empower recruiters. 
Our AI platform helps you efficiently navigate so that you can focus on what you do best: recruiting.
    </label>
   </div>
   <div class="group-89-154" name="Group">
    <label class="text-89-155" type="text" value="Welcome To Winnow">
     Welcome To Winnow
    </label>
    <img class="vector-89-156" src="assets/images/Authentication/login-winnnow/vector-89_156.svg"/>
    <label class="text-89-157" type="text" value="AI Based Tool for Hiring Practitioners">
     AI Based Tool for Hiring Practitioners
    </label>
   </div>
  </div>
 </div>
 <div class="group-89-158" name="Group">
  <div class="group-89-159" name="Group">
  </div>
  <div class="group-89-160" name="Group">
   <div class="group-89-161" name="Group">
    <div class="group-89-162" name="Group">
     <label class="text-89-163" type="text" value="Forgot Password?">
      Forgot Password?
     </label>
     <div class="group-89-164" name="Group">
      <label class="text-89-165" type="text" value="Remember me">
       Remember me
      </label>
      <input class="checkbox-89-166" type="checkbox"/>
     </div>
    </div>
    <button class="btn-89-170" type="button">
     Sign in
    </button>
    <input class="text-89-173" placeholder="Password" type="text"/>
    <input class="text-89-177" placeholder="Username" type="text"/>
   </div>
   <label class="text-89-181" type="text" value="Sign in">
    Sign in
   </label>
   <img class="vector-89-182" src="assets/images/Authentication/login-winnnow/vector-89_182.svg"/>
  </div>
 </div>
 <img class="vector-89-185" src="assets/images/Authentication/login-winnnow/vector-89_185.svg"/>
</div>
